<th:block th:insert="~{/shared/_header.html}"></th:block>
<div class="container mt-4">
    <h1>Welcome to My Website</h1>
    <p>Welcome to About Page</p>
    <!--    put the value of th:text into p.innerHTML-->
    <p th:text="'HELLO ABOUT PAGE'"></p>
    <p>Name: <b th:text="${name}"></b></p>
    <p>Age: <b th:text="${age}"></b></p>
    <p>Date: <b th:text="${date}"></b></p>
    <hr/>
    <h3>Student Data</h3>
    <p>Id: <b th:text="${student.id}"></b></p>
    <p>Name: <b th:text="${student.name.toUpperCase()}"></b></p>
    <p>Surname: <b th:text="${student.surname}"></b></p>
    <p th:text="${student.toString()}"></p>

    <div th:object="${student}">
        <p> Id: <b th:text="*{id}"></b></p>
        <p> Name: <b th:text="*{name}"></b></p>
        <p> Surname: <b th:text="*{surname}"></b></p>
    </div>



</div>


<th:block th:insert="~{/shared/_footer.html}"></th:block>